<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">
  <!-- Prefer repo1.maven.org for "central" to reduce flaky CDN truncations on repo.maven.apache.org -->
  <mirrors>
    <mirror>
      <id>central-via-repo1</id>
      <name>Maven Central (repo1.maven.org)</name>
      <url>https://repo1.maven.org/maven2</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>fyp-resolver</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <aether.connector.connectTimeout>120000</aether.connector.connectTimeout>
        <aether.connector.requestTimeout>600000</aether.connector.requestTimeout>
      </properties>
    </profile>
  </profiles>
</settings>
